@font-face {
  font-family: Infidel;
  src: url("../assets/fonts/infidel.ttf"); }

@font-face {
  font-family: Alverata;
  src: url("../assets/fonts/alverata.ttf"); }

@font-face {
  font-family: 'Caslon Antique';
  src: url("../assets/fonts/caslon-antique.ttf"); }

html {
  position: absolute;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  pointer-events: none;
  background: black; }

.master-layer.show-pop-text .pop-container {
  background: rgba(255, 255, 255, 0.25) !important;
  outline: 2px dotted white !important; }

.master-layer.show-ghost-text .ghost-container {
  background: rgba(0, 255, 255, 0.25) !important;
  outline: 2px dotted cyan !important; }

body {
  margin: 0; }
  body #blackout-layer {
    display: block;
    position: fixed;
    height: 1000%;
    width: 1000%;
    background: black;
    pointer-events: none;
    z-index: 1000000; }
  body .master-layer {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    -webkit-perspective: 800px;
    perspective: 800px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective-origin: center center;
    perspective-origin: center center; }
    body .master-layer .canvas-layer {
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      pointer-events: none;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transform: translate(-50%, -50%) translate3d(50vw, 50vh, -300px) rotateX(45deg);
      transform: translate(-50%, -50%) translate3d(50vw, 50vh, -300px) rotateX(45deg); }
      body .master-layer .canvas-layer * {
        position: absolute;
        pointer-events: none;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d; }
      body .master-layer .canvas-layer#under-layer {
        height: 500%;
        width: 500%;
        background: -o-radial-gradient(transparent, black 25%);
        background: radial-gradient(transparent, black 25%); }
      body .master-layer .canvas-layer#over-layer .rotation-container {
        height: 100%;
        width: 100%; }
      body .master-layer .canvas-layer#background-layer {
        height: 500%;
        width: 500%;
        background: black url(../assets/images/table-bg-2.webp) center/400px 400px repeat border-box; }
      body .master-layer .canvas-layer .tarot-card {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 25px; }
      body .master-layer .canvas-layer .ghost-text {
        color: gold;
        text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
        font-family: "Alverata";
        font-size: 24px;
        font-weight: normal;
        text-align: center;
        -webkit-filter: drop-shadow(20px 20px 10px black);
        filter: drop-shadow(20px 20px 10px black); }
        body .master-layer .canvas-layer .ghost-text.ghost-banner {
          color: white;
          text-shadow: 0 0 5px white, 0 0 15px white, 0 0 25px white;
          font-family: "Caslon Antique";
          font-size: 52px;
          font-weight: normal; }
