@font-face {
  font-family: Infidel;
  src: url(../assets/fonts/infidel.ttf); }

@font-face {
  font-family: Alverata;
  src: url("../assets/fonts/alverata.ttf"); }

@font-face {
  font-family: 'Caslon Antique';
  src: url("../assets/fonts/caslon-antique.ttf"); }

html {
  position: absolute;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  pointer-events: none; }

body {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  pointer-events: none; }
  body * {
    position: absolute;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    pointer-events: none; }
  body .canvas-layer {
    display: block;
    height: 100%;
    width: 100%;
    pointer-events: none; }
    body .canvas-layer#debug-layer {
      z-index: 10000; }
    body .canvas-layer#over-layer {
      z-index: 40;
      -webkit-filter: drop-shadow(30px 30px 15px black);
      filter: drop-shadow(30px 30px 15px black); }
    body .canvas-layer#control-layer {
      z-index: 30; }
    body .canvas-layer#card-layer {
      z-index: 20;
      -webkit-filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)); }
    body .canvas-layer#under-layer {
      z-index: 10;
      -webkit-filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5));
      filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.5)); }
      body .canvas-layer#under-layer .empty-slot-bg {
        display: none;
        background: rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 10px black, inset 0 0 50px black;
        box-shadow: inset 0 0 10px black, inset 0 0 50px black;
        border-radius: 25px;
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0.8; }
    body .canvas-layer#background-layer {
      height: 500%;
      width: 500%;
      background: url(../assets/images/table-bg.webp);
      background-size: 400px 400px; }
    body .canvas-layer .tarot-card {
      display: block;
      background-repeat: no-repeat;
      background-size: 100% 100% !important;
      outline: 0px solid transparent;
      border-radius: 25px;
      background-color: black !important; }
