
@font-face {
	font-family: Infidel;
	src: url('../assets/fonts/infidel.ttf');
}

@font-face {
	font-family: Alverata;
	src: url('../assets/fonts/alverata.ttf');
}

@font-face {
	font-family: 'Caslon Antique';
	src: url('../assets/fonts/caslon-antique.ttf');
}

html {
	position: absolute;
	transform-origin: center center;
	pointer-events: none;
	background: rgb(0, 0, 0);
}

.master-layer.show-pop-text .pop-container {
	background: rgba(255, 255, 255, 0.25) !important;
	outline: 2px dotted white !important;
}

.master-layer.show-ghost-text .ghost-container {
	background: rgba(0, 255, 255, 0.25) !important;
	outline: 2px dotted rgb(0, 255, 255) !important;
}

body {
	margin: 0;
	
	#blackout-layer {
		display: block;
		position: fixed;
		height: 1000%;
		width: 1000%;
		// transform: translate(-50%, -50%) translate3d(50vw, 50vh, 500px);
		background: black;
		pointer-events: none;
		z-index: 1000000;
	}
	
	.master-layer {
		display: block;
		position: fixed;
		height: 100vh;
		width: 100vw;
		pointer-events: none;
		perspective: 800px;
		transform-style: preserve-3d;
		perspective-origin: center center;
		
		
		.canvas-layer {
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			pointer-events: none;
			transform-style: preserve-3d;
			transform: translate(-50%, -50%) translate3d(50vw, 50vh, -300px) rotateX(45deg);
			
			* { // For all child elements of canvas layers:	
				position: absolute;
				pointer-events: none;
				transform-style: preserve-3d;
			}
			
			&#control-layer {
				// transform: translate(-50%, -50%) translate3d(50vw, 50vh, 0px) rotateX(0) scale(0.5) !important;
				// outline: 2px dotted cyan !important;
			}
			// &#card-layer, &#under-layer { filter: blur(5px) brightness(0.65) }
			
			&#under-layer {
				height: 500%;
				width: 500%;
				background: radial-gradient(transparent, black 25%);
			}
			
			&#over-layer .rotation-container {
				height: 100%;
				width: 100%;
				
				// .tarot-card-main { box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.7); }
				// .tarot-card-main { filter: drop-shadow(30px 30px 10px rgba(0,0,0,0.7)); }
			}
			
			&#background-layer {
				height: 500%;
				width: 500%;
				background: black url(../assets/images/table-bg-2.webp) center/400px 400px repeat border-box;
				// background: black;
				// background-image: url(https://www.textures.com/system/gallery/photos/Floors/Checkerboard/137831/FloorsCheckerboard0055_9_350.jpg) !important;
			}
			
			.tarot-card {
				display: block;
				background-repeat: no-repeat;
				background-position: center center;
				border-radius: 25px;
			}
			
			.ghost-text {
				color: gold;
				text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
				font-family: "Alverata";
				font-size: 24px;
				font-weight: normal;
				text-align: center;
				filter: drop-shadow(20px 20px 10px black);
				
				&.ghost-banner {
					color: white;
					text-shadow: 0 0 5px white, 0 0 15px white, 0 0 25px white;
					font-family: "Caslon Antique";
					font-size: 52px;
					font-weight: normal;
				}
			}
		}
	}
}